{% extends "thought/main_layout.html" %}

{% block title %}Edit a Thought{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            Thoughts.editThought() });
    </script>
{% endblock %}

{% block content %}
    <h1>Edit a Thought</h1>

    {% include 'thought/error.html' %}

    <form id="saveForm" action="{% url edit thought.id %}" method="POST">
        {% csrf_token %}
        <p><label for="text">Thought:</label></p>
        <textarea rows="" cols="" name="text" id="text">{{ thought.text|safe }}</textarea>
        <br/>
        <p><label for="tags">Tags:</label></p>
        <input type="text" id="tags" name="tags" value="{{ tags }}"/>

        <div class="buttons">
            <a href="{% url index %}">Cancel</a>
            <a href="javascript:void(0);" onclick="$('#saveForm').submit();">Save</a>
        </div>
    </form>
{% endblock %}
