{% extends "thought/main_layout.html" %}

{% block title %}Thoughts{% endblock %}

{% block content %}
    <h1>Thoughts</h1>

    <a href="{% url post %}">Post</a>

    <div class="clear"></div>

    <div id="tagsList">
        <h3>Tags</h3>
        {% for tag in tags %}
            <a href="{% url tag tag.name %}" class="tag">{{ tag.name }} ({{ tag.count }})</a>
        {% endfor %}
    </div>

    <div id="thoughtsList">
        {% for thought in thoughts %}
            <div class="thought">
                <div class="text"> {{ thought.text|striptags|linebreaksbr }} </div>
                {% if thought.tags %}
                    <div class="tags">
                        <strong>Tags:</strong>
                        {% for tag in thought.tags %}
                            <a href="{% url tag tag%}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div>
                    <div class="date">
                        <a href="{{ thought.get_absolute_url }}">{{ thought.date|date:"d F Y, G:i" }}</a>
                    </div>
                    <div class="buttons">
                        <a href="{% url remove thought.id %}" class="remove">Remove</a>
                        <a href="{% url edit thought.id %}">Change</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>

    <div class="clear"></div>
{% endblock %}
