{% extends "thought/main_layout.html" %}

{% block title %}Thoughts{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            Thoughts.loadThoughtsPage("#loadMore");
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Thoughts Tracker</h1>

    <a href="{% url post %}">Post</a>
    <a href="{% url settings %}">Settings</a>

    <div class="clear"></div>

    {% include "thought/tags_list.html" %}
    {% include "thought/thoughts_page.html" %}

    <div class="clear"></div>
{% endblock %}
