{% extends "thought/main_layout.html" %}

{% block title %}Thoughts{% endblock %}

{% block content %}
    <h1>Thoughts</h1>

    <a href="{% url post %}">Post</a>

    <div id="tagsList">
        {% for tag in tags %}
            <a href="{% url tag tag.name %}">{{ tag.name }} ({{ tag.count }})</a>
        {% endfor %}
    </div>

    <div id="thoughtsList">
    {% for thought in thoughts %}
        <div class="thought">
            <div class="text"> {{ thought.text|striptags }} </div>
            {% if thought.tags %}
            <div class="tags">
                {% for tag in thought.tags %}
                    <a href="{% url tag tag%}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <div>
                <div class="date"> {{ thought.date|date:"d F Y, G:i" }} </div>
                <div class="buttons">
                    <a href="{% url remove thought.id %}" class="remove">Remove</a>
                    <a href="{% url edit thought.id %}">Change</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
