{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}My Thoughts{% endblock %}</title>
    <meta name="author" content="Ruslan Khmelyuk">

    <link  rel="stylesheet" href="{% get_static_prefix %}css/styles.css"/>

    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.plugins.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/scripts.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="contentWrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>