{% extends "thought/main_layout.html" %}

{% block title %}Post a Thought{% endblock %}

{% block content %}
    <h1>Post a Thought</h1>

    <form action="{% url post %}" method="POST">
        {% csrf_token %}
        <p><label for="text">Thought:</label></p>
        <textarea rows="" cols="" style="width: 500px; height: 150px;" name="text" id="text"></textarea>
        <br/>
        <p><label for="tags">Tags:</label></p>
        <input type="text" id="tags" name="tags" value=""/>
        <a href="{% url index %}">Cancel</a>
        {# <a href="javascript:void(0);" onclick="">Post</a> #}
        <input type="submit" value="Post"/>
    </form>
{% endblock %}
