{% extends "thought/main_layout.html" %}

{% block title %}Post a Thought{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            Thoughts.editThought() });
    </script>
{% endblock %}

{% block content %}
    <h1>Post a Thought</h1>

    {% include 'thought/error.html' %}

    <form id="postForm" action="{% url post %}" method="POST">
        {% csrf_token %}
        <p><label for="text">Thought:</label></p>
        <textarea rows="" cols="" name="text" id="text"></textarea>
        <br/>
        <p><label for="tags">Tags:</label></p>
        <input type="text" id="tags" name="tags" value=""/>
        
        <div class="buttons">
            <a href="{% url index %}">Cancel</a>
            <a href="javascript:void(0);" onclick="$('#postForm').submit()">Post</a>
        </div>
    </form>

    <form id="tagsDetectionForm" method="POST" action="{% url detectTags %}">
        {% csrf_token %}
        <input type="hidden" value="" id="text" name="text"/>
    </form>
{% endblock %}
