{% extends "thought/main_layout.html" %}

{% block title %}{{ tag }} thoughts{% endblock %}

{% block content %}
    <h1>{{ tag }} thoughts</h1>

    <a href="{% url index %}">Back</a>

    <div id="tagsList">
        <h3>Tags</h3>
        {% for tag in tags %}
            <a href="{% url tag tag.name %}" class="tag">{{ tag.name }} ({{ tag.count }})</a>
        {% endfor %}
    </div>

    <div id="thoughtsList">
    {% for thought in thoughts %}
        <div class="thought">
            <div class="text"> {{ thought.text|striptags }} </div>
            {% if thought.tags %}
            <div class="tags">
                {% for tag in thought.tags %}
                    <a href="{% url tag tag%}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <div>
                <div class="date"> {{ thought.date|date:"d F Y, G:i" }} </div>
                <div class="buttons">
                    <a href="{% url remove thought.id %}" class="remove">Remove</a>
                    <a href="{% url edit thought.id %}">Change</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
    </div>

    <div class="clear"></div>
{% endblock %}
