{% extends "thought/main_layout.html" %}

{% block title %}{{ tag }} thoughts{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            Thoughts.loadThoughtsPage("#loadMore");
        });
    </script>
{% endblock %}

{% block content %}
    <h1>thoughts on {{ tag }}</h1>

    <a href="{% url index %}">Back</a>
    <div class="clear"></div>

    {% include "thought/tags_list.html" %}
    {% include "thought/thoughts_page.html" %}

    <div class="clear"></div>
{% endblock %}
