{% load markup %}
<div id="thoughtsList">
    {% for thought in thoughts %}
        <div class="thought {% if forloop.first %}first{% endif %}">
            <div class="text markup"> {{ thought.text|striptags|markdown }} </div>
            {% if thought.tags %}
                <div class="tags">
                    <strong>Tags:</strong>
                    {% for tag in thought.tags %}
                        <a href="{% url tag tag%}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <div class="date">
                    <a href="{{ thought.get_absolute_url }}">{{ thought.date|date:"d F Y, G:i" }}</a>
                </div>
                <div class="buttons">
                    <a href="{% url remove thought.id %}" class="remove">Remove</a>
                    <a href="{% url edit thought.id %}">Change</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}

    {% if showMore %}
        <div id="loadMore" rel="{{ loadMoreUrl }}">Load More...</div>
    {% endif %}
</div>